:root {
  --color-white: #ffffff;
  --color-yellow-active: #fff9c4;
  --color-red: #ff0000;
  --color-black: #000000;
  --color-gray-dark: #333333;
  --color-gray-medium: #666666;
  --color-gray-light: #e5e5e5;
  --color-gray-bg: #f5f5f5;
  --color-gray-bg-light: #f9f9f9;
}


